.App {
    background-color: #2b2b31;
}

.containerBody {
    padding: 70px 0;
}

.movieBloc {
    display: flex;

}

.headerBloc {
    display: flex;
    justify-content: space-between;
}

.movie {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.boxContainer {
    margin-top: 50px;
}

.boxContainer iframe {
    cursor: pointer;
}

.borderBox {
    width: 100%;
    border-bottom: 1px solid #3a5670;
    margin-bottom: 20px;
}

.boxContainer > span {
    display: inline-block;
    color: white;
    padding-bottom: 10px;
    cursor: pointer;
    transition: 1s;

}

.boxContainer > span:hover {
    color: #dcf836;
}

.boxContainer > span:hover + .borderBox {
    transition: 1s;
    border-bottom: 1px solid #dcf836;
}


.infoContainer {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin: 0 20px;
}

.infoBloc {
    width: 100%;
    max-width: 500px;
}


.infoBloc svg {
    color: #f5b50a;
}

.rating {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.imagesList {
    height: 100px;
    overflow: hidden;
    display: flex;
    justify-content: space-between
}

.descriptions {
    margin: 50px 0 !important;
    width: 100%;
    color: #abb7c4;
}

@media (max-width: 970px) {
    .movieBloc {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .imagesList {
        flex-wrap: wrap;
    }


}